.weather-forecast {
  margin: 10px;
  text-align: center;
  color: #5a6275;
}

.next-days {
  border-right: 1px solid #84a2f3;
}

.forecast-day {
  font-size: 18px;
  margin-bottom: 5px;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.next-days:last-child {
  border: none;
}
